BIND_HOST=127.0.0.1
BIND_PORT=8080
BIBLES_DIR=bibles
DATABASE_URL=sqlite://bwf.db

# This is here due to https://github.com/launchbadge/sqlx/issues/3099. Run `cargo sqlx prepare` after changing any SQL.
SQLX_OFFLINE=true
