BIND_HOST=127.0.0.1
BIND_PORT=8080
DATABASE_URL=sqlite://bwf.db

# This directory contains subdirectories or ZIPs with the translation ID as the filename and filled with usfm/sfm/usj
# files. File extensions will be ignored in translation ID generation (including for directories). All non-directory
# files will be treated as ZIP files. Each directory or ZIP file may additionally contain a bible.toml in the root. See
# bibles/eanv/bible.toml in this directory for an example of bible.toml. All files are watched for changes, and the
# server will automatically reload changed files to the best of its ability.
# NOTE: Currently, symlinks cannot be watched for file changes on Windows and macOS.
BIBLES_DIR=bibles

# This is here due to https://github.com/launchbadge/sqlx/issues/3099. Run `cargo sqlx prepare` after changing any SQL.
SQLX_OFFLINE=true
