.search-highlight {
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

/* #region Chapters and Verses */
.c {
  font-size: 200%;
  margin-right: 0.2em;

  + p {
    display: inline;

    :first-child.v {
      display: none;
    }
  }
}

.v {
  vertical-align: 35%;
  font-size: 75%;
  margin-right: 0.2em;
  font-weight: bolder;
}
/* #endregion */

/* #region Paragraphs */
/* #region Body Paragraphs */
.p {
  text-indent: 1em;
}

.cls,
.pr {
  text-align: end;
}

.pc {
  text-align: center;
}
/* #endregion */
/* #endregion */

/* #region Characters */
/* #region Notes */
/* #region Footnotes */
.f {
  font-size: 75%;
  font-style: italic;
  vertical-align: 35%;
}

.fr {
  font-weight: bold;
}
/* #endregion */
/* #endregion */
/* #endregion */
