.search-highlight {
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

p.usj-content {
  margin-block: 0.25em;
  line-height: 1.4;
  text-align: justify;
}

/* #region Chapters and Verses */
/* Below is an alternative chapter formatting scheme, but it currently does not play nicely with section headings
.c {
  font-size: 150%;
  font-weight: bold;
  margin-inline-end: 0.2em;

  + p:not(.poetry) {
    display: inline;

    :first-child.v[data-verse-1] {
      display: none;
    }
  }
}
*/
.c {
  display: none;
}

.v {
  font-size: 66%;
  vertical-align: text-top;
  white-space: nowrap;
  unicode-bidi: embed;
}
/* #endregion */

/* #region Paragraphs */
/* #region Titles and Sections */
p.cl {
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  margin-block-start: 8pt;
  margin-block-end: 4pt;
}

p.ms {
  font-weight: bold;
  font-size: 116%;
  text-align: center;
  margin-block-start: 16pt;
  margin-block-end: 4pt;
}

.ms[data-usj-indent='3'] {
  font-style: italic;
}

.s[data-usj-indent='1'],
.s[data-usj-indent='2'] {
  text-align: center;
  margin-block-start: 8pt;
  margin-block-end: 4pt;
}

.s[data-usj-indent='3'],
.s[data-usj-indent='4'] {
  margin-block-start: 6pt;
  margin-block-end: 3pt;
}

.s[data-usj-indent='1'] {
  font-weight: bold;
}

.s[data-usj-indent='2'],
.s[data-usj-indent='3'],
.s[data-usj-indent='4'] {
  font-style: italic;
}

.r {
  font-style: italic;
  text-align: center;
  margin-block-end: 4pt;
}

.d {
  font-style: italic;
  text-align: center;
  margin-block: 4pt;
  max-width: 50%;
  margin-inline: auto;
}

p.sp {
  font-style: italic;
  margin-block-start: 8pt;
  margin-block-end: -0.8em;
}
/* #endregion */

/* #region Body Paragraphs */
.p {
  text-indent: 1em;
}

p.po {
  text-indent: 1em;
  margin-block: 4pt;
}

.cls {
  text-align: end;
}

.pr {
  text-align: end;
}

.pc {
  text-align: center;
}

.pm {
  text-indent: 1em;
  margin-inline: 2em;
}

.pmo {
  margin-inline: 2em;
}

.pmc {
  margin-inline: 2em;
}

.pmr {
  text-align: end;
  margin-inline: 2em;
}

.pi {
  /* TODO: Figure out a way to make this work on the first verse in a chapter */
  text-indent: 1em;
  margin-inline-end: 2em;
}

.pi[data-usj-indent='1'] {
  margin-inline-start: 2em;
}

.pi[data-usj-indent='2'] {
  margin-inline-start: 4em;
}

.pi[data-usj-indent='3'] {
  margin-inline-start: 6em;
}

.mi {
  margin-inline: 2em;
}

.lit {
  text-align: end;
  font-weight: bold;
}

/* \nb is not properly implemented. Do we even want to? */
.nb {
  display: none;
}
/* #endregion */

/* #region Poetry */
.q {
  --poetry-outdent: -4em;
  margin-inline: 6em;
}

.q[data-usj-indent='1'] {
  text-indent: var(--poetry-outdent);
}

.q[data-usj-indent='2'] {
  text-indent: calc(var(--poetry-outdent) + 1em);
}

.q[data-usj-indent='3'] {
  text-indent: calc(var(--poetry-outdent) + 2em);
}

.q[data-usj-indent='4'] {
  text-indent: calc(var(--poetry-outdent) + 3em);
}

.qr {
  text-align: end;
}

.qc {
  text-align: center;
}

.qa {
  text-align: center;
  font-style: italic;
}

.qm {
  --poetry-outdent: -6em;
  margin-inline: 8em;
}

.qm[data-usj-indent='1'] {
  text-indent: var(--poetry-outdent);
}

.qm[data-usj-indent='2'] {
  text-indent: calc(var(--poetry-outdent) + 2em);
}

.qm[data-usj-indent='3'] {
  text-indent: calc(var(--poetry-outdent) + 4em);
}

.qd {
  font-style: italic;
  margin-inline: 2em;
}

:not(.poetry-block, .poetry-block + br) + .poetry-block {
  margin-block-start: 1em;
}

.poetry-block:has(:not(+ .poetry-block, + br + .poetry-block)) {
  margin-block-end: 1em;
}
/* #endregion */

/* #region Lists */
.li {
  text-indent: -2em;
}

.li[data-usj-indent='1'] {
  margin-inline: 3em;
}

.li[data-usj-indent='2'] {
  margin-inline: 4em;
}

.li[data-usj-indent='3'] {
  margin-inline: 5em;
}

.li[data-usj-indent='4'] {
  margin-inline: 6em;
}
/* #endregion */
/* #endregion */

/* #region Characters */
/* #region Text Features */
.add {
  font-style: italic;
}

.bk {
  font-style: italic;
}

.dc {
  font-style: italic;
}

.em {
  font-style: italic;
}

.k {
  font-weight: bold;
}

.nd {
  font-variant: small-caps;
}

.ord {
  vertical-align: text-top;
  font-size: 66%;
}

.pn {
  font-weight: bold;
  text-decoration: underline;
}

.png {
  text-decoration: underline;
}

.qt {
  font-style: italic;
}

.rq {
  font-size: 83%;
  font-style: italic;
}

.wj {
  color: #d43128;
}

.fr {
  font-weight: bold;
}

.xo {
  font-weight: bold;
}

.xt {
  unicode-bidi: embed;
}
/* #endregion */

/* #region Poetry */
.qs {
  font-style: italic;
  text-align: end;
}
/* #endregion */

/* #region Notes */
/* #region Footnotes */
.note-source {
  font-size: 66%;
  font-style: italic;
  vertical-align: text-top;
}

.note-contents > .f {
  margin-inline-end: 0.2em;
}

.fqa {
  font-style: italic;
}
/* #endregion */
/* #endregion */
/* #endregion */
